@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h2 class="text-danger">Bloqueado.</h2>
    <h4 class="text-danger">esta conta foi bloqueada automaticamente. Tente novamente em instantes.</h4>
</hgroup>
