@{
    ViewBag.Title = "Início";
}

<div class="jumbotron text-center">
    <img src="~/Content/img/camaleon.png" class="img-responsive" width="200" />
    <h1>Plataforma Empresarial de Treinamentos</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O que é?</h2>
        <p>
            O PET foi projetado para auxiliar as empresas na missão de manter seu quadro de colaboradores sempre atualizados em conhecimento, através de treinamentos.
        </p>
        <p><a href="/Account/Login">Confira &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Como funciona?</h2>
        <p>Faça login como Administrador para cadastrar seus <a href="/Usuarios/Index">colaboradores</a> e cadastrar <a href="/Treinamentos/Index">treinamentos</a>.</p>
        <p>É possível cadastrar conteúdos e atividades avaliativas, além de acompanhar o progresso e o desempenho através de um relatório.</p>

    </div>
    <div class="col-md-4">
        <h2>Quero assistir a um curso!</h2>
        <p>Obtenha um login e uma senha de usuário, acesse e inscreva-se nos treinamentos disponíveis.</p>
    </div>
    <div height="100px">
        <p> </p>
    </div>
</div>